/* FOOTER */
footer {
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    padding: 5rem 20rem;
    background: var(--clr-primary-black);
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }
  
  footer .container {
    width: 100%;
    max-width: 1200px; /* Set a maximum width if needed */
    margin: 0 auto; /* Center the container */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }
  
  footer .container .sec {
    text-align: left; /* Adjust text alignment within each column */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }
  
  footer .container .sec h2 {
    position: relative;
    background: var(--clr-primary-black);
    color: var(--clr-primary-white);
    font-weight: var(--fw-bold);
    margin-bottom: 20pt;
  }
  
  footer .container .sec h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 1;
    width: 40px;
    height: 2px;
    background-color: var(--clr-neutral-lightgray);
  }
  
  footer .container li {
    position: relative;
    list-style: none;
    font-size: var(--fs-400);
  }
  
  footer .container li a {
    color: var(--clr-primary-white);
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block;
    white-space: nowrap; /* Prevent footer menu items from wrapping */
  }
  
  footer .container li a:hover {
    color: var(--clr-neutral-lightgray);
    text-decoration: underline;
  }
  
  .footer-icons {
    margin-block: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15pt;
  }
  
  .footer-icon img {
    width: 15pt;
    height: auto;
    fill: var(--clr-neutral-lightgray);
  }
  
  .footer-text {
    color: var(--clr-primary-white);
    text-align: center;
    margin-inline: auto;
  }
  
  @media (max-width: 50em) {
    /* Adjust the layout for smaller screens */
    footer .container {
      grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }
  }