<!-- CTA section-->
<section class="padding-block-900 text-neutral-100" style="background-color: var(--clr-accent-red); margin-bottom: 0;">
    <div class="container">
        <p class="fs-primary-heading fw-bold" style="color: var(--clr-primary-white); max-width: 50%;">Simplify how your
            team works:... <span
                style="text-decoration: underline;   text-decoration-thickness: 3px;   text-underline-offset: 10px;font-weight: 400;">today!</span>
        </p>
    </div>
</section>