<!-- FOOTER Section -->
<footer>
  <div class="container">
    <div class="grid-container" style="margin-top: 2rem">
      <div class="sec products">
        <h2>Products</h2>
        <ul>
          <li>
            <a href="/product#ferris-platform">Ferris Platform</a>
          </li>
          <li><a href="/product#ferris-technology">Ferris Technology</a></li>
        </ul>
      </div>

      <div class="sec solutions">
        <h2>Business Solutions</h2>
        <ul>
          <li><a href="/solutions#solutions-business">Business Focus</a></li>
          <li><a href="/solutions#solutions-it">IT Strategy</a></li>
          <li>
            <a
              href="https://docs.ferrislabs.net/docs/solutions/"
              target="_blank"
              >Use Cases</a
            >
          </li>
          <!-- <li><a href="#">Industries</a></li> -->
        </ul>
      </div>

      <div class="sec solutions">
        <h2>Tech Solutions</h2>
        <ul>
          <li><a href="/solutions">Application Refactoring</a></li>
          <li><a href="/solutions">Data & Service Mesh</a></li>
          <li><a href="/solutions">Large Language Models</a></li>
          <li><a href="/solutions">AI, ML</a></li>
        </ul>
      </div>

      <div class="sec resources">
        <h2>Resources</h2>
        <ul>
          <li>
            <a href="https://m.ferrislabs.net/fl-quickstarter" target="_blank"
              >Getting Started</a
            >
          </li>
          <li>
            <a href="https://m.ferrislabs.net/fl-sandbox-lp" target="_blank"
              >Ferris Sandbox</a
            >
          </li>
          <li><a href="/demo">Request Demo</a></li>
          <li>
            <a href="https://docs.ferrislabs.net/docs/" target="_blank"
              >Documentation</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/@ferrislabs" target="_blank"
              >Videos</a
            >
          </li>
          <li><a href="/contact">Support</a></li>
        </ul>
      </div>

      <div class="sec company">
        <h2>Company</h2>
        <ul>
          <li><a href="/about">About Us</a></li>
          <!-- <li><a href="#">Blog</a></li> -->
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/partner">Partners</a></li>
          <li><a href="/newsletter">Newsletter</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <!-- <li><a href="#">Pricing</a></li> -->
        </ul>
      </div>
    </div>
  </div>

  <!-- Social Icons -->
  <div>
    <ul class="footer-icons">
      <li>
        <a
          class="footer-icon"
          href="https://twitter.com/ferrislabs"
          target="_blank"
          ><img src="/img/brand_images/twitter-icon.png" alt="X or Twitter"
        /></a>
      </li>
      <li>
        <a
          class="footer-icon"
          href="https://www.linkedin.com/company/ferrislabs/"
          target="_blank"
          ><img src="/img/brand_images/linkedin-icon.png" alt="LinkedIn"
        /></a>
      </li>
      <li>
        <a
          class="footer-icon"
          href="https://www.youtube.com/channel/UC5miURXVxGLo17EyWPBWCug"
          target="_blank"
          ><img src="/img/brand_images/youtube-icon.png" alt="YouTube"
        /></a>
      </li>
      <li>
        <a
          class="footer-icon"
          href="https://github.com/Ferris-Labs/"
          target="_blank"
          ><img src="/img/brand_images/github-icon.png" alt="GitHub"
        /></a>
      </li>
      <li>
        <a
          class="footer-icon"
          href="https://medium.com/ferrislabs"
          target="_blank"
          ><img src="/img/brand_images/medium-icon.png" alt="Medium"
        /></a>
      </li>
      <li>
        <a class="footer-icon" href="/contact" target="_blank"
          ><img src="/img/brand_images/mail-icon.png" alt="E-Mail us"
        /></a>
      </li>
    </ul>
  </div>

  <!-- Company Disclaimer and Policies -->
  <div>
    <p class="footer-text">
      2024 © FERRIS LABS AG |
      <a href="https://docs.ferrislabs.net/docs/privacy_policy/" target="_blank"
        >Privacy Policy</a
      >
      |
      <a
        href="https://docs.ferrislabs.net/docs/data_protection_policy"
        target="_blank"
        >Data Protection Policy</a
      >
      |
      <a
        href="https://docs.ferrislabs.net/docs/terms_conditions/"
        target="_blank"
        >Legal Terms and Conditions</a
      >
    </p>
  </div>
</footer>

<!-- Newsletter Script -->
<script type="text/javascript">
  function verifyCallback_07564f7b3578404ef2fcb7f4596508a5(response) {
    let elem = document.getElementById(
      "mauticform_input_flnewsletterform_recaptcha",
    );
    if (elem) {
      elem.value = response;
    }
  }
  function onLoad07564f7b3578404ef2fcb7f4596508a5() {
    grecaptcha
      .execute("6LfbRfsiAAAAAHS_hDnq73lyJkifCAAUHg4sS54z", { action: "form" })
      .then(function (token) {
        verifyCallback_07564f7b3578404ef2fcb7f4596508a5(token);
      });
  }
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onLoad07564f7b3578404ef2fcb7f4596508a5&render=6LfbRfsiAAAAAHS_hDnq73lyJkifCAAUHg4sS54z"></script>
