<!-- HERO Section -->
<section class="hero">
  <div class="container">
    <div class="even-columns" style="margin-top: 25pt">
      <div class="flow">
        <h1 class="fs-primary-heading fw-bold">
          Unleash the Future of Software Development.<br />:Now
        </h1>
        <p class="lead-heading">
          Meet the ultra-fast Ferris Unified Real-Time Platform
          <span style="font-style: italic">(URP)</span>, making software
          development, deployment and operations easier and more effective than
          ever.
        </p>
        <button class="button" style="margin-block: 2rem">Get Started</button>
      </div>
    </div>
  </div>
</section>
