<!-- HERO Section -->
<main>
    <section class="hero">
        <div class="container">
            <div class="even-columns" style="margin-top: 25pt;">
                <div class="flow">
                    <h1 class="fs-primary-heading fw-bold">Unleash the Future of Software Development.<br>:Now</h1>
                    <p class="lead">Meet the ultra-fast Ferris Integrations Platform as a Service<span
                            style="font-style: italic;">(iPaaS)</span>, making software development, deployment and
                        operations
                        easier and more effective than ever.</p>
                    <button class="button">Get Started</button>
                </div>
                <div>
                </div>
            </div>
        </div>
    </section>
    </div>