<!-- PROBLEM STATEMENT section -->
<section class="padding-block-700" style="background-color: var(--clr-primary-white);">
    <div class="container">
        <div class="even-columns">
            <div class="flow text-left-sm-only margin" style="--flow-spacer: 1.5rem">
                <h2 class="fs-secondary-heading fw-bold">How do you bridge the demand-gap?</h2>
                <p class="lead" style="color: var(--clr-primary-black); opacity: 0.7;">Catering to the immediate
                    business needs often results in tactical solutions, built on a 'business as usual' approach. The
                    result: less
                    than satisfactory solutions and an ever increasing legacy bow-wave!</p>
            </div>
            <div>
                <ul class="numbered-items | flow" role="list" style="margin-top: 2.5rem;">
                    <li>
                        <div class="flow" style="--flow-spacer: 1em">
                            <h3 class="numbered-items__title | fw-bold">Are new business solutions built
                                on old tech?</h3>
                        </div>
                    </li>
                    <li>
                        <div class="flow" style="--flow-spacer: 1em">
                            <h3 class="numbered-items__title | fw-bold">Is technical debt costly and constantly
                                increasing?</h3>
                        </div>
                    </li>
                    <li>
                        <div class="flow" style="--flow-spacer: 1em">
                            <h3 class="numbered-items__title | fw-bold">Must true innovation wait?</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="hr-text" data-content="RESULTING ISSUES" style="margin-block: 3rem;">


    <!-- ISSUES METRICS section-->
    <div class="container">
        <div class="three-columns" style="padding-block: 0.25rem;">
            <div class="column-border">
                <h3 class="fw-bold" style="font-size: var(--fs-650);">Time to Market</h3>
                <img src="img/icon-hamburger.svg" alt="Hamburger Icon" style="padding-top: 1.2rem">
                <div class="fw-regular" style="display: flex; opacity: 0.6; margin-inline: 2pt; align-items: flex-end;">
                    <h3 style="font-size: var(--fs-650); margin-right: 4px; margin-bottom: 0;">></h3>
                    <h3 style="font-size: var(--fs-800); margin: 0 4px; margin-bottom: 0; font-weight: normal;">12mt
                    </h3>
                    <h3 style="font-size: var(--fs-650); margin-left: 4px; margin-bottom: 0;">...</h3>
                </div>
                <br>
                <h3 class="fw-regular" style="font-size: var(--fs-600); opacity: 0.6; font-style: italic;">unpredictable
                    delievry
                    and delays</h3>
            </div>
            <div class="column-border">
                <h3 class="fw-bold" style="font-size: var(--fs-650);">Operating Costs</h3>
                <img src="img/icon-hamburger.svg" alt="Hamburger Icon" style="padding-top: 1.2rem">
                <div class="fw-regular" style="display: flex; opacity: 0.6; margin-inline: 2pt; align-items: flex-end;">
                    <h3 style="font-size: var(--fs-650); margin-right: 4px; margin-bottom: 0;">></h3>
                    <h3 style="font-size: var(--fs-800); margin: 0 4px; margin-bottom: 0; font-weight: normal;">100k
                    </h3>
                    <h3 style="font-size: var(--fs-650); margin-left: 4px; margin-bottom: 0;">...</h3>
                </div>
                <br>
                <h3 class="fw-regular" style="font-size: var(--fs-600); opacity: 0.6; font-style: italic;">increasing
                    maintenance
                    overhead</h3>
            </div>
            <div class="column-border">
                <h3 class="fw-bold" style="font-size: var(--fs-650);">Opportunity Loss</h3>
                <img src="img/icon-hamburger.svg" alt="Hamburger Icon" style="padding-top: 1.2rem">
                <div class="fw-regular" style="display: flex; opacity: 0.6; margin-inline: 2pt; align-items: flex-end;">
                    <h3 style="font-size: var(--fs-650); margin-right: 4px; margin-bottom: 0;">></h3>
                    <h3 style="font-size: var(--fs-800); margin: 0 4px; margin-bottom: 0; font-weight: normal;">1m
                    </h3>
                    <h3 style="font-size: var(--fs-650); margin-left: 4px; margin-bottom: 0;">...</h3>
                </div>
                <br>
                <h3 class="fw-regular" style="font-size: var(--fs-600); opacity: 0.6; font-style: italic;">stalling tech
                    and
                    innovation adoption</h3>
            </div>
        </div>
    </div>
</section>