<!-- QUICK STARTER PACK section-->
<section class="padding-block-700">
    <div class="container" style="background-color: 
        var(--clr-neutral-lightgray); 
        padding: 2em 5em; 
        border: 1pt solid var(--clr-neutral-lightgray); 
        border-radius: 10pt;
        box-shadow: 1px 1px var(--clr-neutral-gray);
        opacity: 0.9;">
        <div class="row">
            <h2 class="fs-secondary-heading clr-accent-red"
                style="text-align: center; color: var(--clr-accent-red); font-weight: var(--fw-bold); margin-bottom: 1rem;">
                Quick Starter Program
            </h2>
            <p style="text-align: center; font-size: var(--fs-650); color: var(--clr-primary-black); opacity: 0.9;">
                risk-free | all-inclusive | proof of value </p>
            <br>
            <p
                style="padding: 1rem 2rem 1rem 2rem; font-size: var(--fs-600); color: var(--clr-primary-black); opacity: 0.9; text-align: center;">
                Dive into the future
                modern,
                fast
                and sustainable application engineering with the Ferris Development Platform. In less than 2 weeks,
                cost, receive a fully functioning, business-ready Use Case, meticulously tailored to your specific
                needs,
                ensuring
                immediate relevance and applicability.</p>

            <div class="three-columns" style="padding-block: 0.25rem; padding-inline: 1rem;">
                <div class="column-border"
                    style="background-color: var(--clr-neutral-white); color: var(--clr-primary-white); border-color: var(--clr-neutral-gray);">
                    <h3 class="lead"
                        style="font-size: var(--fs-650); text-align: left; color: var(--clr-primary-black); font-weight: var(--fw-bold);">
                        Personalized Use Case</h3>
                    <ul
                        style="color: var(--clr-primary-black); text-align: left; font-size: var(--fs-400); opacity: 0.7; padding-left: 1rem;">
                        <li>Use case choice of: AI, Refactoring or Data Product</li>
                        <li>Taylored to your own business</li>
                        <li>Fully functioning micro application</li>
                        <li>Integrated with own data and services</li>
                    </ul>
                    <p style="font-size: var(--fs-400); text-align: right;"><a href="#">more</a></p>
                </div>
                <div class="column-border"
                    style="background-color: var(--clr-neutral-white); color: var(--clr-primary-white); border-color: var(--clr-neutral-gray);">
                    <h3 class="lead"
                        style="font-size: var(--fs-650); text-align: left; color: var(--clr-primary-black); font-weight: var(--fw-bold);">
                        Ferris Platform</h3>
                    <ul
                        style="color: var(--clr-primary-black); text-align: left; font-size: var(--fs-400); opacity: 0.7; padding-left: 1rem;">
                        <li>Full access to Ferris Platform</li>
                        <li>Cross-, multi- and hybrid cloud enabled</li>
                        <li>Access to 1'000s of edge adaptors</li>
                        <li>Portable platform, services and processes</li>
                    </ul>
                    <p style="font-size: var(--fs-400); text-align: right;"><a href="#">more</a></p>
                </div>
                <div class="column-border"
                    style="background-color: var(--clr-neutral-white); color: var(--clr-primary-white); border-color: var(--clr-neutral-gray);">
                    <h3 class="lead"
                        style="font-size: var(--fs-650); text-align: left; color: var(--clr-primary-black); font-weight: var(--fw-bold);">
                        Solution & Enterprise Mentoring</h3>
                    <p style="color: var(--clr-primary-black); font-size: var(--fs-400); text-align: left;">Hands on
                        learning
                        and
                        mentoring:</p>
                    <ul
                        style="color: var(--clr-primary-black); text-align: left; font-size: var(--fs-400); opacity: 0.7; padding-left: 1rem;">
                        <li>Solutions, Enterprise and Microservices Architecture</li>
                        <li>Coding event driven microservices</li>
                        <li>Orchestrating automations</li>
                        <li>No code deployment</li>
                    </ul>
                    <br>
                    <p style="font-size: var(--fs-400); text-align: right;"><a href="#">more</a></p>
                </div>
            </div>
            <div>
                <button class="button" style="margin: 2rem auto; display: block;"><a
                        href="https://m.ferrislabs.net/fl-quickstarter" target="_blank">Book My Starter
                        Pack</a></button>
            </div>
        </div>
</section>