<!-- Scrolling Banner for Customers & Partners Logos -->
<section>
    <div class="container">
        <div class="logos">
            <div class="logos-slide">
                <!-- customer and partner logos -->
                <img src="/img/partners/ballab_gray.png" alt="Ballab">
                <img src="/img/partners/tsystems_gray.png" alt="T-Systems">
                <img src="/img/customers/juliusbaer_gray.png" alt="Bank Julius Bär">
                <img src="/img/partners/googlecloud_gray.png" alt="Google Cloud">
                <img src="/img/customers/ubs_gray.png" alt="UBS AG">
                <img src="/img/partners/nttdata_gray.png" alt="NTT Data">
                <img src="/img/customers/qontigo_gray.png" alt="Qontigo">
                <img src="/img/partners/integrationalpha_gray.png" alt="Integration Alpha">

                <img src="/img/partners/aivie_gray.png" alt="Aivie">
                <img src="/img/partners/starburst_gray.png" alt="Starburst">
                <img src="/img/partners/deloitte_gray.png" alt="Deloitte">
                <img src="/img/partners/aispaces_gray.png" alt="AI Spaces">
                <img src="/img/partners/confluent_gray.png" alt="Confluent">
            </div>
        </div>
    </div>
</section>