<!-- ISSUES METRICS section-->
<section class="padding-block-900">
    <div class="container">
        <h1 class="fs-secondary-heading" style=" font-weight: var(--fw-bold); margin-bottom: 2rem;">Bridging
            the Gap <br> to Strategic IT
        </h1>
        <div class="three-columns" style="padding-block: 0.25rem;">
            <div class="column-noborder">
                <h3 class="fw-bold text-with-partial-underline" style="font-size: var(--fs-700); text-align: left">
                    Application Refactoring</h3>
                <p
                    style="color: var(--clr-primary-black);  text-align:justify; font-size: var(--fs-600); opacity: 0.7;">
                    Legacy
                    applications
                    account for up to
                    80% of annual IT budgets, leaving little room for strategic investments that are imperative to
                    advancing your
                    organization's competitive edge.
                </p>
            </div>
            <div class="column-noborder">
                <h3 class="fw-bold text-with-partial-underline" style="font-size: var(--fs-700); text-align: left">
                    Data & Service Mesh</h3>
                <p style="color: var(--clr-primary-black);  text-align:justify; font-size: var(--fs-600); opacity: 0.7">
                    The time
                    to act on
                    generative AI is now. Being late to the game could prove fatal - but what if the skills required
                    seem
                    unavailable? Do you have good ideas, but no idea how to act on them?
                </p>
            </div>
            <div class="column-noborder">
                <h3 class="fw-bold text-with-partial-underline" style="font-size: var(--fs-700); text-align: left">
                    Embedded AI, ML, LLM</h3>
                <p style="color: var(--clr-primary-black);  text-align:justify; font-size: var(--fs-600); opacity: 0.7">
                    You heard
                    that "data
                    is the new oil". But how do you make this theme tangible in the short term and without breaking your
                    bank or
                    putting security at risk?
                </p>
            </div>
        </div>
    </div>
    <hr class="hr-text" data-content="TAKE CONTROL" style="margin-block: 5rem;">


    <!-- SOLUTION & ACT NOW section-->
    <div class="container">
        <div class="even-columns">
            <div class="flow text-left-sm-only margin" style="--flow-spacer: 1.5rem">
                <h1 class="fs-secondary-heading fw-bold">Adopting new tech <br> does not have to be hard
                </h1>
            </div>
            <div>
                <ul class="numbered-items | flow" role="list" style="margin-top: 1rem;">
                    <li>
                        <div class="flow" style="--flow-spacer: 1em">
                            <h3 class="numbered-items__title | fw-bold">Develop and deliver production level use cases
                                in only weeks</h3>
                            <p class="numbered-items__body" data-width="wide" style="opacity: 0.7;">From zero to
                                production, fast
                                solution delivery is at the core of it all.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="flow" style="--flow-spacer: 1em">
                            <h3 class="numbered-items__title | fw-bold">Lower operating costs by~ 60%
                            </h3>
                            <p class="numbered-items__body" data-width="wide" style="opacity: 0.7;">Dramatically
                                streamlined and
                                simplified development, deployment and operations.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="flow" style="--flow-spacer: 1em">
                            <h3 class="numbered-items__title | fw-bold">Extend your digital arsenal
                            </h3>
                            <p class=" numbered-items__body" data-width="wide" style="opacity: 0.7;">Grow reusable
                                assets and reduce
                                operating cost, while upping your team skills, one project at the time.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="hr-text" data-content="ACT NOW" style="margin-block: 3rem;">