<!-- CUSTOMER REFERENCE -->
<section class="padding-block-400">

    <div class="container" style="background-color: var(--clr-accent-red);
        text-align: right;
        padding: 2em 5em; 
        border: 1pt solid var(--clr-neutral-lightgray); 
        border-radius: 10pt">

        <p class="quote" style="color: var(--clr-primary-white);">"Within a very short time frame Ferris Labs has
            implemented a state-of-the-art Data Platform and integrated it with our ecosystem. Doing that, they have
            optimally
            positioned the bank for Big Data, Data Operations and Governance."
        </p>
        <br>
        <p class="quote" style="color: var(--clr-primary-white); text-align: right;">ADRIAN BERCHTEN,
            DEPUTY
            CIO, BANK JULIUS
        </p>
    </div>
</section>