<!-- CUSTOMER REFERENCE -->
<section class="padding-block-900" style="background-color: var(--clr-neutral-lightgray);">
    <div class="container" style="text-align: right;">
        <p class="quote" style="color: var(--clr-primary-black);">"Within a very short time frame Ferris Labs has
            implemented a state-of-the-art Data Platform and integrated it with our ecosystem. Doing that, they have
            optimally
            positioned the bank for Big Data, Data Operations and Governance."
        </p>
        <br>
        <p class="quote" style="color: var(--clr-primary-black); text-align: right; opacity: 0.6;">ADRIAN BERCHTEN,
            DEPUTY
            CIO, BANK JULIUS
            B&Auml;R.</p>
    </div>
</section>