<!-- Header / tagline block-->
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "headers.html" . }}
</head>

<body>

    <div id="all">

        <!-- {{ partial "top.html" . }} -->

        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}

        {{ partial "problem.html" . }}

        {{ partial "focus.html" . }}

        {{ partial "solutions.html" . }}

        {{ partial "quick_starter.html" . }}

        {{ partial "scrolling_banner.html" . }}

        {{ partial "testimonial.html" . }}

        {{ partial "product_tabbed.html" . }}

        {{ partial "cta.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

</body>

</html>